<!DOCTYPE html>
<html>
<head>
	<title>Delete Product</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Delete Product</legend>
			<table>
				<tr>
					<td>Name</td>
					<td><%=product.name%></td>
				</tr>
				<tr>
					<td>Price</td>
					<td><%=product.price%></td>
				</tr>
				<tr>
					<td>Brand</td>
					<td><%=product.brand%></td>
				</tr>
				<tr>
					<td>Type</td>
					<td><%=product.type%></td>
				</tr>
				<tr>
					<td>Sub Type</td>
					<td><%=product.subtype%></td>
				</tr>
				<tr>
					<td>Are sure? this can't be undone!</td>
					<td></td>
				</tr>
				<tr>
					<td><input type="submit" name="submit" value="Confirm"></td>
					<td></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>