<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Computer | Shop</title>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<link type="text/css" rel="stylesheet" href="/abc/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="/abc/css/bootnavbar.css"/>

		<link type="text/css" rel="stylesheet" href="/abc/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="/abc/css/slick-theme.css"/>

		<link type="text/css" rel="stylesheet" href="/abc/css/nouislider.min.css"/>

		<link rel="stylesheet" href="/abc/css/font-awesome.min.css">

		<link type="text/css" rel="stylesheet" href="/abc/css/style.css"/>


    </head>
	<body>
		<header>
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="#"></i><span style="color: #228ee7;">৳</span> BDT</a></li>
						<li><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
					</ul>
				</div>
			</div>


			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<!-- <img src="/abc/img/logo.png" alt=""> -->
									<h2 style="color:#60adc4; margin-top: 15px;">Computer Shop</h2>

								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form method="POST">								
									<input class="input"  name="search" placeholder="Search here">
									<button type="submit" class="search-btn">Search</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								<div>
									<a href="#">
										<i class="fa fa-heart-o"></i>
										<span>Your Wishlist</span>
										<div class="qty">2</div>
									</a>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Your Cart</span>
										<div class="qty">3</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<div class="product-widget">
												<div class="product-img">
													<img src="/abc/img/product01.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>৳980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

											<div class="product-widget">
												<div class="product-img">
													<img src="/abc/img/product02.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">3x</span>৳980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
										</div>
										<div class="cart-summary">
											<small>3 Item(s) selected</small>
											<h5>SUBTOTAL: ৳2940.00</h5>
										</div>
										<div class="cart-btns">
											<a href="#">View Cart</a>
											<a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->


		<nav class="navbar navbar-light navbar-expand-lg mainmenu">
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav  main-nav2">
					<li class="active"><a href="/user_home">Home <span class="sr-only">(current)</span></a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Components</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a href="/product/casing">Casing</a></li>
						
						
						<li class="dropdown">
							<a href="/product/power_supply">Power Supply</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a href="/product/power_supply_coorsair">Coorsair</a></li>
							<li><a href="/product/power_supply_antec">Antec</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="/product/processor">Processor</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a href="/product/processor/amd">AMD</a></li>
							<li><a href="/product/processor/intel">INTEL</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#">CPU Cooler</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a href="/product/cpu_cooler/coorsair">Coorsair</a></li>
							<li><a href="/product/cpu_cooler/antec">Antec</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="/product/motherboard">Motherboard</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a href="/product/motherboard/asus_intel">ASUS(INTEL)</a></li>
							<li><a href="/product/motherboard/asus_amd">ASUS(RYZEN)</a></li>
							<li><a href="/product/motherboard/msi_intel">MSI(INTEL)</a></li>
							<li><a href="/product/motherboard/msi_amd">MSI(RYZEN)</a></li>
							</ul>
						</li>

						

						<li class="dropdown">
							<a href="/product/storage">Storage</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li class="dropdown">
								<a href="/product/storage/hdd">HDD</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li class="dropdown">
										<a href="/product/storage/hdd/wd">Westen Digital</a>
										<a href="/product/storage/hdd/sg">Seagate</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="/product/storage/ssd">SSD</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a href="/product/storage/ssd/wd">Westen Digital</a>
										<a href="/product/storage/ssd/sg">Seagate</a>
									</li>
								</ul>
							</li>
							</ul>
						</li>


						<li class="dropdown">
							<a href="/product/ram">Ram</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li class="dropdown">
								<a href="/product/ram/desktop">Desktop</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a href="/product/ram/desktop/coorsair">Coorsair</a>
										<a href="/product/ram/desktop/gskill">G skill</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="/product/ram/laptop">Laptop</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a href="/product/ram/laptop/adata">Adata</a>
									</li>
								</ul>
							</li>
							</ul>
						</li>

						</ul>
					</li>
					<li class="dropdown">
						<a href="#">Monitors</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li>
								<a href="/product/monitor/acer">Acer</a>
								<a href="/product/monitor/asus">Asus</a>
								<a href="/product/monitor/dell">Dell</a>
								<a href="/product/monitor/hp">Hp</a>
							</li>
						</ul>
					</li>
					
				</ul>
			</div>
		</nav>
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<%  results.forEach( function(std){  %>

										<div class="product">
											<div class="product-img">
												<img src="/abc/upload/<%= std.image %>" alt="">
												<div class="product-label">
													<span class="sale">-30%</span>
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category"><%= std.type %></p>
												<h3 class="product-name"><a href="#"><%= std.name %></a></h3>
												<h4 class="product-price">৳<%= std.price %> <del class="product-old-price">৳<%= std.price %></del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<%
									}); 
								%>
										<!-- /product -->

										
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
									<li><a href="#">Hot deals</a></li>
									<li><a href="#">Laptops</a></li>
									<li><a href="#">Smartphones</a></li>
									<li><a href="#">Cameras</a></li>
									<li><a href="#">Accessories</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Orders and Returns</a></li>
									<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
									<li><a href="#">My Account</a></li>
									<li><a href="#">View Cart</a></li>
									<li><a href="#">Wishlist</a></li>
									<li><a href="#">Track My Order</a></li>
									<li><a href="#">Help</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="/abc/js/jquery.min.js"></script>
		<script src="/abc/js/bootstrap.min.js"></script>
		<script src="/abc/js/slick.min.js"></script>
		<script src="/abc/js/nouislider.min.js"></script>
		<script src="/abc/js/jquery.zoom.min.js"></script>
		<script src="/abc/js/main.js"></script>


		<script src="/abc/js/bootnavbar.js"></script>


	</body>
</html>
